VERIFICATION_MODE=mock
VERIFICATION_TIMEOUT_MS=8000
VERIFICATION_AMOUNT_TOLERANCE_ETB=0

CBE_VERIFICATION_BASE_URL=https://apps.cbe.com.et:100/?id=
CBE_RECEIVER_ACCOUNT_SUFFIX=25579904
CBE_RECEIVER_NAME_HINT=shegaw misene

TELEBIRR_RECEIPT_BASE_URL=https://transactioninfo.ethiotelecom.et/receipt/
TELEBIRR_RECEIVER_HINT=shegaw misene
TELEBIRR_RECEIVER_PHONE_HINT=25197666
